.linkUnderline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.linkUnderlineBlack {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#7ca68a, #E1EFE6)
}

.linkUnderline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}
